<div class="container">
    <h1>My bookings</h1>

    <div class="col-12 d-flex flex-column mt-3">
      <% @bookings.each do |booking| %>
        <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <div class="card-trip-detail title"><strong><%= booking.bike.title %></strong></div>
              <div class="card-trip-detail"><strong><%= booking.bike.bike_type %></strong></div>
            </div>
            <div>
              <div class="card-trip-detail"><p><strong>Start date</strong> - <%= booking.start_date %></p></div>
              <div class="card-trip-detail"><p><strong>End date</strong> - <%= booking.end_date %></p></div>
            </div>
            <div class="price">
              <div class="card-trip-detail "><strong>£<%= booking.bike.cost %></strong></div>
            </div>
          </div>

          <div class="btn card-trip-show">
            <h2><%= link_to "View details"  %></h2>
          </div>
        </div>
      <% end %>
    </div>

</div>

<%# <div class="container">
    <h1>My bookings</h1>
  <div class="row">
    <div class="col-12 d-flex flex-wrap mt-3">
      <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
        <div>
          <strong>Start date</strong><p>13.02.2022</p>
          <strong>End date</strong><p>13.02.2022</p>
        </div>
        <%# <h2 class="card-trip-pricing"><%= link_to "View details" %>
         <%# </div>
        </div>
    </div>
  </div>
</div> %>
